html
    include includes/head.pug

    body

        div.socket-container
            div(style="width:60%; float:left;")
                div#socket-status-message
                pre#socket-status
            div(style="width:30%; float:left; margin-left:2%")
                p sockets connected :
                    span#sockets-connected
            button(onclick="return startEventCountdown()") START event Countdown
            button(onclick="return stopEventCountdown()") STOP event Countdown

        div(class="container")

            div(class="row")
                div.col-sm-6
                    h2 Rounds
                div.col-sm-6
                    a(href="/round-form"
                        class="btn btn-primary") Add Round
                    a(href="/event"
                        class="btn btn-primary") Edit event start

                div.col-sm-12
                    each round in rounds
                        div.row.round.mb-5(
                            id=round.id
                        )

                            div.col-sm-12
                                h4= `${round.name} - (ID: ${round.id})`

                            div(class="col-sm-12")

                                div(class="row")
                                    div(class="col-sm-2")
                                        a(href=round.layout_url)
                                            img(src=round.layout_url width="100")


                                    div(class="col-sm-1")
                                        h5
                                            b="players"
                                        each player in round.players
                                            span=player.name
                                            br

                                    div(class="col-sm-7")
                                        p
                                            b ROUND

                                            span.date-convertible.round-time= round.start
                                            span  ->
                                            span.date-convertible.round-time= round.end

                                        p
                                            b VOTE

                                            span.date-convertible.round-time= round.vote_start
                                            span  ->
                                            span.date-convertible.round-time= round.vote_end
                                            span.round-time
                                                a.btn.btn-sm(
                                                    href="/admin/votes/" + round.id
                                                    target="_blank"
                                                    ) realtime votes

                                    div.col-sm-2
                                        a.btn.btn-sm.btn-primary(href=`/round-form/${round.id}`) Edit

                                div.row
                                    div.col-12

                                        h4 Current round status

                                        p
                                            span.status next
                                                if round.next
                                                    i(class='fa fa-check')
                                                else
                                                    //i(class='fa fa-times')
                                            span.status running
                                                if round.running
                                                    i(class='fa fa-check')
                                                else
                                                    //i(class='fa fa-times')
                                            span.status receiving layouts
                                                if round.receiving_layouts
                                                    i(class='fa fa-check')
                                                else
                                                    //i(class='fa fa-times')
                                            span.status voting
                                                if round.voting
                                                    i(class='fa fa-check')
                                                else
                                                    //i(class='fa fa-times')
                                            span.status showing results
                                                if round.showing_results
                                                    i(class='fa fa-check')
                                                else
                                                    //i(class='fa fa-times')

                                            span.status waiting
                                                if round.waiting
                                                    i(class='fa fa-check')
                                                else
                                                    //i(class='fa fa-times')

                                div.row.mb-5
                                    div.col-12
                                        div.d-flex.justify-content-around

                                            button.btn.btn-sm.btn-primary(onclick="nextRound('" + round.id + "')") Show round countdown
                                            button.btn.btn-sm.btn-primary(onclick="startRound('" + round.id + "')") Show round
                                            button.btn.btn-sm.btn-primary(onclick="receiveLayouts(('" + round.id + "'))") Receive Layouts
                                            button.btn.btn-sm.btn-primary(onclick="startVote(('" + round.id + "'))") Show voting
                                            button.btn.btn-sm.btn-primary(onclick="showResults(('" + round.id + "'))") Show Vote Results
                                            button.btn.btn-sm.btn-warning(onclick="waiting(('" + round.id + "'))") Pause
                                            button.btn.btn-sm.btn-warning(onclick="stopRound('" + round.id + "')") Reset
                                            button.btn.btn-sm.btn-danger(onclick="deleteVotes('" + round.id + "')") Delete all votes
                                            button.btn.btn-sm.btn-danger(
                                                onclick="deleteRound(('" + round.id + "'))"
                                            ) Delete Round


            div.row
                div.col-sm-6
                    h2 Players
                div.col-sm-6
                    a.btn.btn-primary(href="/player-form") Add Player
            div.row
                div.col-sm-12
                    table(class="table")
                        thead
                            tr
                                th player ID
                                th Name
                                th Full Name
                                th Actions
                        tbody
                            each player in players
                                tr
                                    td= player.id
                                    td= player.name
                                    td= player.fullname
                                    //td= player.data
                                    td
                                        button(
                                            class='danger'
                                            onclick="deletePlayer(('" + player.id + "'))"
                                        ) Delete Player

        script(
            src='/assets/dashboard.js'
        )